.sevenSlider.active {
  display: block;
}

.sevenSlider {
  display: none;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100vh;
}

.sevenSlider .infoAboutPage {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 18px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Proxima Nova';
  font-weight: 700;
  color: #404040;
  pointer-events: none;
}

.sevenSlider__color {
  position: relative;
  border-right: 3px solid white;
  border-left: 3px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  z-index: 3;
  background-color: #1b1b1b;
}

.sevenSlider__container {
  max-width: 1800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sevenSlider__burger {
  cursor: pointer;
}

.sevenSlider__burger .burger {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sevenSlider__burger:hover .burger {
  -webkit-animation: y 0.4s;
          animation: y 0.4s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes y {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes y {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.sevenSlider__middleContainer {
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.sevenSlider__middleContainer.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sevenSlider .contArrowRight {
  position: absolute;
  z-index: 3;
  top: 40% !important;
  right: 8% !important;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sevenSlider .contArrowRight span {
  font-family: 'Proxima Nova';
  padding: 10px 15px;
  background-color: #46454596 !important;
  color: white;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid white;
}

.sevenSlider .contArrowRight:hover span {
  -webkit-animation: movR 0.3s 2;
          animation: movR 0.3s 2;
  background-color: #9d919185 !important;
}

@-webkit-keyframes movR {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes movR {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.sevenSlider .contArrowLeft {
  position: absolute;
  z-index: 3;
  top: 40% !important;
  left: 2% !important;
  right: 100% !important;
  cursor: pointer;
  margin-right: 40px;
}

.sevenSlider .contArrowLeft span {
  font-family: 'Proxima Nova';
  padding: 10px 15px;
  background-color: #46454596 !important;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sevenSlider .contArrowLeft:hover span {
  -webkit-animation: movL 0.3s 2;
          animation: movL 0.3s 2;
  background-color: #9d919185 !important;
}

@-webkit-keyframes movL {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes movL {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.sevenSlider .posTop {
  top: 93%;
}

.sevenSlider__sectionOfDish {
  margin-left: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 27%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sevenSlider__sectionOfDish:hover .sevenSlider__bigText {
  color: #b1afaf;
}

.sevenSlider__sectionOfDish:hover .sevenSlider__littleText {
  color: #b1afaf;
}

.sevenSlider__sectionOfDish.marl {
  margin-left: 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sevenSlider__image img {
  max-width: 100%;
  max-height: 100%;
}

.sevenSlider__bigText {
  font-size: 24px;
  color: white;
  margin-top: 25px;
  font-family: 'Proxima Nova';
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sevenSlider__littleText {
  font-size: 20px;
  margin-top: 20px;
  color: #3e3e3e;
  font-family: 'Proxima Nova';
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sevenSlider__logoAndBurger {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  z-index: 11;
}

.sevenSlider__logoAndBurger .hint {
  position: absolute;
  top: 109%;
  left: 0px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.116);
  color: white;
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  padding: 3px;
  border-radius: 10%;
}

.sevenSlider__logoAndBurger .logo {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sevenSlider__logoAndBurger .logo:hover ~ .hint {
  opacity: 1;
}

.sevenSlider .footerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 40px;
  margin-top: 50px;
}

.sevenSlider__nextSlide {
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  font-weight: 600;
  font-family: 'Proxima Nova';
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sevenSlider__nextSlide span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  color: #817b7b;
  font-size: 18px;
  cursor: pointer;
}

.sevenSlider__nextSlide img {
  margin-left: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sevenSlider__nextSlide:hover span {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  font-size: 20px;
}

.sevenSlider__iconsWeb {
  display: table;
  margin-left: auto;
  position: relative;
}

.sevenSlider__iconsWeb a {
  display: inline-block;
  margin-left: 25px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sevenSlider__iconsWeb a:hover {
  opacity: 1;
}

@media (max-width: 1400px) {
  .sevenSlider__logoAndBurger {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sevenSlider__logoAndBurger .logo {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 90px;
    height: 76px;
  }
  .sevenSlider__burger {
    cursor: pointer;
  }
  .sevenSlider__burger .burger {
    width: 24px;
    height: 24px;
  }
  .sevenSlider__nextSlide {
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    font-weight: 600;
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sevenSlider__nextSlide span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .sevenSlider__nextSlide img {
    margin-left: 32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sevenSlider__nextSlide:hover span {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    font-size: 20px;
  }
  .sevenSlider__iconsWeb {
    display: table;
    margin-left: auto;
  }
  .sevenSlider__iconsWeb a {
    display: inline-block;
    margin-left: 25px;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sevenSlider__iconsWeb a:hover {
    opacity: 1;
  }
}

@media (max-height: 1045px) {
  .sevenSlider__logoAndBurger {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sevenSlider__logoAndBurger .logo {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 90px;
    height: 76px;
  }
  .sevenSlider__burger {
    cursor: pointer;
  }
  .sevenSlider__burger .burger {
    width: 24px;
    height: 24px;
  }
  .sevenSlider__nextSlide {
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    font-weight: 600;
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sevenSlider__nextSlide span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .sevenSlider__nextSlide img {
    margin-left: 32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sevenSlider__nextSlide:hover span {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    font-size: 20px;
  }
  .sevenSlider__iconsWeb {
    display: table;
    margin-left: auto;
  }
  .sevenSlider__iconsWeb a {
    display: inline-block;
    margin-left: 25px;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sevenSlider__iconsWeb a:hover {
    opacity: 1;
  }
}

@media (max-width: 823px) {
  .sevenSlider__logoAndBurger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sevenSlider__logoAndBurger .hint {
    display: none;
  }
  .sevenSlider__logoAndBurger .logo {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 75px;
    height: 61px;
  }
  .sevenSlider__burger {
    cursor: pointer;
  }
  .sevenSlider__burger .burger {
    width: 20px;
    height: 20px;
  }
  .sevenSlider .footerBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .sevenSlider__nextSlide {
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    font-weight: 600;
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sevenSlider__nextSlide span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .sevenSlider__nextSlide img {
    margin-left: 32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 45px;
  }
  .sevenSlider__nextSlide:hover span {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    font-size: 20px;
  }
  .sevenSlider__iconsWeb {
    display: table;
    margin-left: auto;
  }
  .sevenSlider__iconsWeb a {
    display: inline-block;
    margin-left: 25px;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sevenSlider__iconsWeb a:hover {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .infoAboutPage {
    display: none;
  }
  @-webkit-keyframes bouncing {
    0% {
      bottom: 0;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    100% {
      bottom: 0px;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  @keyframes bouncing {
    0% {
      bottom: 0;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    100% {
      bottom: 0px;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  .sevenSlider__container {
    padding: 0 10px;
  }
  .sevenSlider .footerBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 40px;
  }
  .sevenSlider__logoAndBurger {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: relative;
  }
  .sevenSlider__nextSlide:hover span {
    -webkit-transform: none;
            transform: none;
    font-size: 16px;
  }
}

@media (max-width: 1464px) {
  .sevenSlider__sectionOfDish {
    margin-left: 90px;
  }
}

@media (max-width: 1324px) {
  .sevenSlider__sectionOfDish {
    margin-left: 76px;
  }
}

@media (max-width: 1144px) {
  .sevenSlider__sectionOfDish {
    margin-left: 65px;
  }
  .sevenSlider .contArrowLeft {
    top: 88.5%;
    right: 12%;
  }
  .sevenSlider .contArrowRight {
    top: 88.5%;
    right: 6%;
  }
}

@media (max-width: 996px) {
  .sevenSlider__sectionOfDish {
    margin-left: 56px;
  }
}

@media (max-width: 876px) {
  .sevenSlider__sectionOfDish {
    margin-left: 48px;
  }
}

@media (max-width: 668px) {
  .sevenSlider__sectionOfDish {
    margin-left: 41px;
  }
}

@media (max-width: 507px) {
  .sevenSlider__sectionOfDish {
    margin-left: 32px;
  }
}

@media (max-width: 451px) {
  .sevenSlider__sectionOfDish {
    margin-left: 27px;
  }
}

@media (max-width: 387px) {
  .sevenSlider__sectionOfDish {
    margin-left: 23px;
  }
}

@media (max-width: 331px) {
  .sevenSlider__sectionOfDish {
    margin-left: 20px;
  }
}

@media (max-height: 900px) and (min-width: 1300px) {
  .sevenSlider__middleContainer {
    margin-top: 20px;
  }
  .sevenSlider__image img {
    height: 150px;
  }
  .sevenSlider .contArrowLeft {
    top: 85%;
  }
  .sevenSlider .contArrowRight {
    top: 85%;
  }
  .sevenSlider__bigText {
    font-size: 18px;
    margin-top: 3px;
  }
  .sevenSlider__littleText {
    font-size: 18px;
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .sevenSlider__bigText {
    font-size: 20px;
    margin-top: 10px;
  }
  .sevenSlider__littleText {
    font-size: 18px;
    margin-top: 10px;
  }
  .sevenSlider .contArrowLeft {
    top: 89%;
    right: 12%;
    margin-right: 100px;
  }
  .sevenSlider .contArrowRight {
    top: 89%;
    right: 6%;
  }
}

@media (max-width: 599px) {
  .sevenSlider__bigText {
    font-size: 18px;
    margin-top: 3px;
  }
  .sevenSlider__littleText {
    font-size: 18px;
    margin-top: 3px;
  }
}

@media (max-width: 575px) {
  .sevenSlider__sectionOfDish {
    margin-left: 36px;
  }
  .sevenSlider .contArrowLeft {
    top: 84%;
    right: 12%;
  }
  .sevenSlider .contArrowRight {
    top: 84%;
    right: 6%;
  }
}

@media (max-height: 480px) {
  .sevenSlider__logoAndBurger {
    padding-top: 10px;
  }
  .sevenSlider__container {
    padding: 0 10px;
  }
  .sevenSlider__middleContainer {
    margin-top: 20px;
  }
  .sevenSlider__image img {
    height: 80px;
  }
  .sevenSlider .contArrowLeft {
    margin-right: 0px;
    top: 83%;
    right: 54%;
  }
  .sevenSlider .contArrowLeft span {
    padding: 0px 5px;
  }
  .sevenSlider .contArrowRight {
    top: 83%;
    right: 38%;
  }
  .sevenSlider .contArrowRight span {
    padding: 0px 5px;
  }
  .sevenSlider__bigText {
    font-size: 16px;
    margin-top: 0px;
  }
  .sevenSlider__littleText {
    display: none;
  }
  .sevenSlider .footerBlock {
    margin-top: 20px;
  }
  .sevenSlider__middleContainer {
    padding-bottom: 95px;
  }
}
/*# sourceMappingURL=style-section-seven.css.map */